# Ignore les dépendances Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore les fichiers de build
dist/
build/

# Ignore les fichiers de logs
logs
*.log
npm-debug.log
yarn-debug.log
lerna-debug.log
pnpm-debug.log

# Ignore les fichiers temporaires de l’éditeur
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Ignore les fichiers de cache Webpack
.cache/
